.hero {
    position: relative;
    background-color: var(--xiketic);
    padding-block-start: 120px;
    padding-block-end: var(--section-padding);
    z-index: 1;
}

.hero .section-subtitle {
    margin-block-end: 30px;
}

.hero-title {
    font-size: var(--fs-1);
    font-weight: var(--fw-900);
    line-height: 1.2;
    word-wrap: break-word;
    margin-block-end: 25px;
}

.hero-text {
    font-size: var(--fs-4);
    margin-block-end: 25px;
}

.hero .btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.hero .btn {
    --padding: 12px 30px;
}

.hero-bg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero .section-subtitle { margin-block-end: 30px; }



.section-subtitle {
    position: relative;
    background-image: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: var(--fw-600);
    margin-block-end: 15px;
    width: max-content;
}

.section-subtitle::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -60px;
    width: 50px;
    height: 3px;
    background-image: var(--gradient-1);
}
